.title {
  margin-bottom: 28px;

  font-family: Helvetica, sans-serif;
  font-size: 29px;
  font-weight: 400;
  line-height: 33.35px;
  color: var(--c-text-primary);
  letter-spacing: -0.73px;

  @media (max-width: 1225px) {
    margin-bottom: 20px;
  }

  @media (max-width: 767px) {
    margin-bottom: 14px;
    font-size: 23px;
    text-align: center;
  }
}
