.progress-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 14px 22px 16px;

  border-top: 1px solid rgb(225 229 235 / 100%);
  border-bottom: 1px solid rgb(225 229 235 / 100%);

  :global(.progress) {
    height: 5px;
  }
}

.text {
  display: flex;
  justify-content: space-between;

  span:first-child {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    line-height: 14.95px;
    color: rgb(134 142 150 / 100%);
    letter-spacing: -0.41px;
  }

  span:last-child {
    font-size: 11px;
    line-height: 12.89px;
    color: rgb(90 97 105 / 100%);
    letter-spacing: -0.35px;
  }
}
