.nav-link {
  transition: all 0.1s linear;

  &:hover {
    background-color: rgb(246 248 250);
  }
}

.list-item {
  cursor: pointer;

  display: flex;
  align-items: center;

  height: 57.5px;
  padding: 0 26.5px;

  border-bottom: 1px solid rgb(225 229 235 / 100%);

  @media (max-width: 1023px) {
    justify-content: center;
    height: 56px;
    padding: 0;
  }

  @media (max-width: 767px) {
    height: 44px;
  }
}

.text-wrapper {
  display: flex;
  gap: 11px;
  align-items: center;
}

.text {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.25px;
  color: var(--c-text-primary);
  letter-spacing: -0.23px;

  @media (max-width: 1023px) {
    display: none;
  }
}

.active {
  background-color: rgb(246 248 250);

  .text {
    color: var(--c-blue);
  }
}
