@import '@/app/styles/sass/abstracts/_mixins';

.car-row {
  cursor: default;

  display: grid;
  grid-template-columns: 1fr 1.25fr 0.85fr 0.75fr 1fr;
  gap: 4px;
  align-items: center;

  font-size: 13px;
  line-height: 15.23px;
  color: rgb(136 144 152 / 100%);
  letter-spacing: -0.41px;

  @media (max-width: 1439px) {
    gap: 8px;
  }

  @media (max-width: 1225px) {
    grid-template-columns: 1fr 1.25fr 0.85fr 0.75fr 0.5fr;
  }

  @media (max-width: 1023px) {
    grid-template-columns: 1fr 1.25fr 0.85fr 0.75fr 0.5fr;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;

    padding: 16px 0;

    border-bottom: 1px solid #f3f4f6;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border: none;
    }
  }
}

.img {
  width: 138px;
  height: 63px;
  object-fit: cover;
}

.car-info {
  @include table-info();
}

.car-styles,
.category,
.colors-styles,
.price {
  color: var(--c-black);
}

.colors-container,
.price-container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.button-group {
  justify-self: end;

  @media (max-width: 767px) {
    justify-self: center;
  }
}
