@mixin button(
  $fontSize: 11.5px,
  $width: 110px,
  $height: 29px,
  $background-color: var(--c-blue),
  $color: #fff,
  $fontWeight: 400,
  $lineHeight: 13.22px,
  $letter-spacing: -0.08px
) {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: $width;
  height: $height;
  padding: 0;

  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $color;
  text-decoration: none;
  letter-spacing: $letter-spacing;

  background-color: $background-color;
  border: none;
  border-radius: 5px;

  transition: filter 0.2s linear;

  &:hover,
  &:focus {
    filter: brightness(90%);
  }

  &:active {
    filter: brightness(80%);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--c-grey);
  }
}
