.orders-container {
  display: grid;
  grid-template-rows: auto 1fr auto;

  width: 100%;

  background-color: #fff;
  border-radius: 9px;
  box-shadow: 3px 3px 10px rgb(225 229 235 / 100%);
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 15px 21.5px;

  @media (max-width: 830px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
  }

  @media (max-width: 767px) {
    padding: 14px;
  }
}

.input-group {
  display: flex;
  gap: 15px;

  :global(.rbt) {
    width: 110.5px;

    @media (max-width: 830px) {
      width: 100%;
    }
  }

  :global(.rbt-input-main) {
    overflow: hidden;

    padding: 8px 12px;

    font-family: Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 12.65px;
    color: var(--c-black);
    text-overflow: ellipsis;
    white-space: nowrap;

    border: 1px solid var(--c-grey);
    border-radius: 4.5px;

    &::placeholder {
      font-size: 11px;
      line-height: 12.65px;
      color: rgb(134 142 150 / 100%);
    }

    &:focus {
      border-color: var(--c-grey);
      box-shadow: none;
    }
  }

  :global(.rbt-menu) {
    min-width: 110.5px !important;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    border-color: var(--c-grey);

    @media (max-width: 830px) {
      min-width: 100px !important;
    }
  }

  :global(.dropdown-item) {
    overflow: hidden;
    color: var(--c-black);
    text-overflow: ellipsis;
    white-space: nowrap;

    &:active {
      background-color: rgb(203 228 255);
    }
  }

  :global(.rbt-highlight-text) {
    background-color: rgb(203 228 255);
  }

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 8px;
  }
}

.icon-wrapper {
  pointer-events: none;
  position: absolute;
  right: 4%;
  bottom: 8.5px;
}

.button-group {
  display: flex;
  gap: 10px;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 8px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 26px;

  min-height: 358px;
  padding: 13px 21.5px;

  border-top: 1px solid rgb(225 229 235 / 100%);
  border-bottom: 1px solid rgb(225 229 235 / 100%);

  @media (max-width: 1225px) {
    gap: 18px;
  }

  @media (max-width: 767px) {
    gap: 0;
    padding: 14px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: 20.5px 21.5px;

  :global(.pagination) {
    gap: 2px;
    margin-bottom: 0;

    @media (max-width: 767px) {
      gap: 0;
    }
  }

  :global(.page-item) {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 23px;
    height: 23px;

    border-radius: 100%;

    &:hover {
      background-color: var(--c-grey);
    }
  }

  :global(.page-link) {
    padding: 0;

    font-family: Helvetica, sans-serif;
    font-size: 15px;
    line-height: 17.25px;
    color: var(--c-blue);
    letter-spacing: -0.47px;

    background-color: transparent;
    border: none;

    &:focus {
      box-shadow: none;
    }
  }

  :global(.active > .page-link) {
    cursor: pointer;
    color: #fff;
    background-color: transparent;
  }

  :global(.active.page-item) {
    background-color: var(--c-blue);
  }

  @media (max-width: 767px) {
    padding: 14px;
  }
}
