.error-fallback {
  display: flex;
  flex-direction: column;
  gap: 35px;
  place-self: center;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  p:nth-child(1) {
    font-size: 75px;
    font-weight: 500;
    line-height: 87.89px;
    color: rgb(202 206 219 / 100%);
    letter-spacing: -5.77px;
  }

  p:nth-child(2) {
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    line-height: 57.5px;
    color: var(--c-text-primary);
    letter-spacing: -2.5px;
  }

  p:nth-child(3) {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: rgb(129 142 163 / 100%);
    letter-spacing: -0.5px;
  }
}
