.container {
  height: 100vh;
  padding: 50px;

  font-size: 14px;
  line-height: 16px;
  color: var(--c-black);

  p {
    margin-bottom: 6px;
  }

  button {
    padding: 4px 8px;

    line-height: 21.09px;
    color: rgb(255 255 255);

    background-color: var(--c-blue);
    border: none;

    transition: filter 0.2s linear;

    &:hover,
    &:focus {
      filter: brightness(90%);
    }

    &:active {
      filter: brightness(80%);
    }
  }

  @media (max-width: 767px) {
    padding: 25px;
  }
}
